@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Quicksand', sans-serif;
}
.container1{
  background-color: #ebddcd;
  margin: 0 30px;
  padding: 30px 50px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px; 
  row-gap: 20px;
}
form label{
  margin-bottom: 10px;
  font-size: 15px;
}
form input, form textarea{
  /* width: 100%; */
  width: 400px;
  background-color: white;
  border: 1px solid #cf9494;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px 10px;
}

form input:focus,
form textarea:focus{
  outline: none;
}

.btn input{
  background-color: #af7c4c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 240px;
  padding: 7px 10px;
}

.btn input:hover{
  background-color: #6b3c10;
}

@media (min-width: 640px){

}